.user {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    /* flex-direction: column; */
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.user img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.user h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.user p {
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
}

.user button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.user button:hover {
    background-color: #0056b3;
}